{% extends "common/base.html" %} 
{% load crispy_forms_tags %}
{% load common_tags %}
{% load static %}

{% block title %}
Trigger Migrations
{% endblock %}

{% block content %}
<div>
  <form method="POST">
    {% csrf_token %}
    {{ trigger_migration_form | crispy }}
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary mr-2" id="allocation_form_submit">Submit</button>
    </div>
  </form>
</div>
{% endblock content %}

{% block javascript %}
{{ form.media }}
{% endblock javascript%}
